* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  width: 100vw;
  box-shadow: 0px 15px 10px -15px #111;
}

.logo {
  margin-left: 1rem;
  font-size: 2rem;
  color: rgb(122, 98, 62);
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50vw;
}

.nav-tags > li {
  font-size: 1.3rem;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

.nav-tags > li:hover {
  transform: scale(1.2);
}

.search {
  margin-right: 0.4rem;
}

.search > input {
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}

.main {
  height: 50vh;
  width: 100%;
  display: flex;
  margin: 4rem 0;
}

.hero1 {
  font-size: 1.2rem;
  width: 60%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 4rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}

.hero2 {
  width: 40%;
  margin-left: 10rem;
}

.hero2 > img {
  height: 40vh;
  width: 30vw;
  object-fit: cover;
  animation: MoveUpDown 3s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
}

.contact-btn {
  margin-top: 2rem;
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  padding: 0.3rem;
  font-size: 1.3rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #0d6efd;
  border-color: #0d6efd;
}

.contact-btn:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.review {
  height: 80vh;
  width: 100%;
  background-color: #f8e4e4;
}

.review > h2 {
  font-size: 3rem;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 2rem;
}

.main-review {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.person {
  background-color: aliceblue;
  height: 50vh;
  width: 20vw;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person > h3 {
  text-align: center;
  margin: 0.4rem 0;
}

.person > p {
  text-align: justify;
  text-justify: inter-word;
  padding: 1rem;
}

.person > img {
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

footer {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
}

footer > div > h4,
footer > div > ul > li {
  font-size: larger;
  margin: 1rem 0;
  margin-left: 1rem;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
  .navbar ul {
    width: 60vw;
  }

  .hero1 {
    width: 70%;
    margin-left: 2rem;
  }

  .hero2 {
    width: 30%;
    margin-left: 5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .navbar ul {
    width: 70vw;
  }

  .hero1 {
    width: 80%;
    margin-left: 1rem;
  }

  .hero2 {
    width: 20%;
    margin-left: 5rem;
  }

  .person p {
    font-size: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .navbar ul {
    flex-wrap: wrap;
    width: 80vw;
  }

  .nav-tags > li {
    font-size: 1rem;
  }

  .navbar ul {
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
  }
  .navbar ul li {
    padding: 1rem;
  }

  .search > input {
    font-size: 0.8rem;
  }

  .main {
    flex-direction: column;
    margin: 2rem 0;
  }

  .review > h2 {
    font-size: 1rem;
    margin-top: 3rem;
  }
  .main-review {
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .hero1 {
    width: 90%;
    margin-left: 1rem;
  }

  .hero2 {
    display: none;
  }

  .person p {
    font-size: 1rem;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .navbar ul {
    width: 100%;
    padding: 1rem;
  }
  .navbar ul li {
    padding: 1rem;
  }

  .logo {
    margin: 1rem 0;
    text-align: center;
  }

  .search {
    margin: 0.5rem 0;
    text-align: center;
  }

  .main {
    margin: 2rem 0;
  }

  .review > h2 {
    font-size: 1rem;
    margin-top: 3rem;
  }

  .main-review {
    flex-wrap: wrap;
  }
  .hero1 {
    width: 100%;
    margin-left: 1rem;
    text-align: center;
  }

  .review {
    height: auto;
    padding: 2rem;
  }
  .person {
    width: 80%;
    margin-bottom: 2rem;
  }

  .person p {
    font-size: 1rem;
  }

  footer {
    flex-wrap: wrap;
    height: auto;
  }

  footer > div {
    text-align: center;
    margin: 1rem 0;
  }

  footer > div > h4,
  footer > div > ul > li {
    margin-left: 0;
  }
}
